<div class="dashboard-container">

  <app-sidebar></app-sidebar>

  <div class="dashboard-content">
    <div class="dashboard-actions">
      <button class="export-btn"
              (click)="exportPdf()">
        Export PDF
      </button>
    </div>

    <!-- KPI CARDS -->
    <div class="kpi-grid">

      <div class="kpi-card">
        <div class="kpi-title">Total Cycles</div>
        <div class="kpi-value">{{ summary?.totalCycles }}</div>
      </div>

      <div class="kpi-card">
        <div class="kpi-title">Employees</div>
        <div class="kpi-value">{{ summary?.totalEmployees }}</div>
      </div>

      <div class="kpi-card success">
        <div class="kpi-title">Employees Paid</div>
        <div class="kpi-value">{{ summary?.totalEmployeesPaid }}</div>
      </div>

      <div class="kpi-card warning">
        <div class="kpi-title">Pending Approvals</div>
        <div class="kpi-value">{{ summary?.totalPendingApprovals }}</div>
      </div>

      <div class="kpi-card danger">
        <div class="kpi-title">Total Anomalies</div>
        <div class="kpi-value">{{ summary?.totalAnomalies }}</div>
      </div>

    </div>

    <!-- Row 1 -->
    <div class="chart-row">

      <!-- Employee Status -->
      <div id="employeeChartSection" class="chart-card">

        <div class="card-header">
          Employee Status
        </div>

        <canvas baseChart
                [data]="employeeChartData"
                [options]="chartOptions"
                [type]="employeeChartType">
        </canvas>

      </div>

      <!-- Approval Distribution -->
      <div id="approvalChartSection" class="chart-card">

        <div class="card-header">
          Approval Distribution
        </div>

        <canvas baseChart
                [data]="approvalChartData"
                [options]="chartOptions"
                [type]="approvalChartType">
        </canvas>

      </div>

    </div>

    <!-- Row 2 -->
    <div class="chart-row">

      <div id="trendChartSection"
           class="chart-card full-width">

        <div class="card-header">
          Payroll Anomaly Trend
        </div>

        <canvas baseChart
                [data]="trendChartData"
                [options]="chartOptions"
                [type]="trendChartType">
        </canvas>

      </div>

    </div>

    <!-- Row 3 -->
    <div class="chart-row">

      <div id="riskChartSection"
           class="chart-card full-width">

        <div class="card-header">
          Department Risk Scores
        </div>

        <canvas baseChart
                [data]="riskScoreChartData"
                [options]="riskScoreChartOptions"
                [type]="riskChartType">
        </canvas>

      </div>

    </div>

  </div>

</div>
